:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  background-color: rgb(167, 166, 166);
  width: 14rem;
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  flex-direction: column;
}

.head {
  border: 1px solid blue;
}

table {
  padding: none;
  border-spacing: 1px;
  margin-right: 0.15rem;
}

td {
  width: 1rem;
  height: 1rem;
  text-align: center;
  background-color: gray;
  border-bottom: solid 3px rgb(109, 109, 109);
  border-right: solid 3px rgb(109, 109, 109);
  border-top: solid 3px rgb(161, 161, 161);
  border-left: solid 3px rgb(161, 161, 161);
}
