:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(95, 172, 255);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

figure {
  background-color: rgb(253, 200, 253);
  width: 23rem;
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  flex-direction: column;
  border-radius: 5%;
}

.head {
  border: 1px solid blue;
}

table {
  padding: none;
  border-spacing: 1px;
  margin-right: 0.15rem;
}

td {
  height: 2rem;
  min-width: 2rem;
  text-align: center;
  background-color: rgb(253, 200, 253);
  border-bottom: solid 3px rgb(216, 172, 216);
  border-right: solid 3px rgb(216, 172, 216);
  border-top: solid 3px rgb(255, 218, 255);
  border-left: solid 3px rgb(255, 218, 255);
}
